= form_for([@project, @status_message], :html => { :multipart => true }, :builder => TippedFormBuilder) do |f|
  %fieldset
    %legend= t('helpers.form', :model=> StatusMessage.model_name.human)
    -if @status_message.errors.any?
      .errors
        %h3= t('errors.template.header', :model=> StatusMessage.model_name.human, :count=> @status_message.errors.count)
        %ul
          - @status_message.errors.full_messages.each do |msg|
            %li= msg
        .clear
    %ul
      %li.field.threeColumn.tipped
        = f.label :title
        = f.text_field :title
      %li.field.file.tipped
        = f.file_field :attachment
  .buttons
    %ul
      %li.toggle= link_to 'Abbrechen', @project
      %li.submit
        = f.submit t('helpers.submit.submit', :model=> StatusMessage.model_name.human), :class => "submit"
    .clear