.title
  %h2
    = Invoice.model_name.human
    %span.actions.tipped= link_to image_tag("/images/icons-nancy/expense-create.gif"), new_project_invoice_path(@project) if @project.closed == 0
.details
  %ul.toolbar
    %li.from #{Invoice.human_attribute_name('created_at')} / #{User.model_name.human}
    %li.description= Invoice.human_attribute_name('title')
    %li.range Range
    .clear
  - @project.invoices.each do |invoice|
    %ul.record
      %li.from #{l(invoice.created_at, :format => :date)} / #{current_user}
      %li.description= invoice.title
      %li.range #{l(invoice.started_at, :format => :date)} to #{l(invoice.ended_at, :format => :date)}
      %li.actions.tipped
        = link_to image_tag("/images/icons-nancy/project-report.gif"), report_range_project_path(@project.id, invoice.started_at.strftime("%Y-%m-%d"), invoice.ended_at.strftime("%Y-%m-%d"))
        = link_to image_tag("/images/icons-nancy/project-pdf.gif"), report_range_project_path(@project.id, invoice.started_at.strftime("%Y-%m-%d"), invoice.ended_at.strftime("%Y-%m-%d"))+".pdf"
        - if @project.closed == 0
          %br/
          -if invoice.closed == 0
            = link_to image_tag("/images/icons-nancy/project-open.gif"), switch_project_invoice_path(@project.id, invoice.id, :order => params[:order], :closed => params[:closed])
            = link_to image_tag("/images/icons-nancy/edit.gif"), edit_project_invoice_path(@project.id, invoice.id)
            = link_to image_tag("/images/icons-nancy/delete.gif"), project_invoice_path(@project.id, invoice.id), :method => "delete"
          -else
            = link_to image_tag("/images/icons-nancy/project-close.gif"), switch_project_invoice_path(@project.id, invoice.id, :order => params[:order], :closed => params[:closed])
      .clear