%h1 Listing invoices

%table
  %tr
    %th Title
    %th Started at
    %th Ended at
    %th Project
    %th User
    %th
    %th
    %th

  - @invoices.each do |invoice|
    %tr
      %td= invoice.title
      %td= invoice.started_at
      %td= invoice.ended_at
      %td= invoice.project
      %td= invoice.user
      %td= link_to 'Show', invoice
      %td= link_to 'Edit', edit_invoice_path(invoice)
      %td= link_to 'Destroy', invoice, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Invoice', new_invoice_path
