%h2 Add Holiday, Vacation and Absence
-if @day_sequence.errors.any?
  #error_explanation
    %h2= "#{pluralize(@day_sequence.errors.count, "error")} prohibited this sequence from being saved:"
    %ul
      - @day_sequence.errors.full_messages.each do |msg|
        %li= msg
%dl
  %dt= f.label :date, "Sequence Type"
  %dd= f.select(:type_of_sequence, options_for_select([["Holiday", "1"], ["User Vacation", "2"], ["User Absence", "3"]]), :class => "half")
  %dt.small= f.label :date_from, "Date from"
  %dd.small= f.text_field :date_from
  %dt.small= f.label :date_to, "Date to"
  %dd.small= f.text_field :date_to
  .clear
  %dt= f.label :user_id, "User (!holiday)"
  %dd= f.select(:user_id, options_for_select(User.all.map {|u| ["#{u.firstname.first}. #{u.lastname}", u.id] }))
  %dt.small= f.label :verified
  %dd
    = f.radio_button :verified, 1, :class => "radio"
    True
    = f.radio_button :verified, 0, :class => "radio"
    False
  .clear
= f.submit "Save Sequence", :class => "submit"