.clear
= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  %h2 User login
  %dl
    %dt= f.label :email
    %dd= f.email_field :email
    %dt= f.label :password
    %dd= f.password_field :password
    %dt &nbsp;
    - if devise_mapping.rememberable?
      %dd
        = f.check_box :remember_me
        = f.label :remember_me
    %dt &nbsp;
    %dd= f.submit "Sign in", :class => "submit"
  .clear