%h2#calendarYear Year #{@daySelected.year}
.clear
%ul#calendarWeek
  -7.times do
    %li{:class=>"wday#{@dayCalendar.wday}", :id => "#{'active' if @daySelected == @dayCalendar}" }= link_to l(@dayCalendar, :format => :day_with_date), { :controller => :works, :action => :index, :date => @dayCalendar.strftime("%Y-%m-%d") }, :remote => true
    -@dayCalendar = @dayCalendar.+(1)
  %li#calendarNavigation
    = link_to image_tag("/images/icons/calendarweek-prev10.gif"), works_path(:date => @jumping_links.[]("prev10")), :remote => true
    = link_to image_tag("/images/icons/calendarweek-prev.gif"), works_path(:date => @jumping_links.[]("prev")), :remote => true
    %span Calendarweek #{@daySelected.-(1).cweek}
    = link_to image_tag("/images/icons/calendarweek-next.gif"), works_path(:date => @jumping_links.[]("next")), :remote => true
    = link_to image_tag("/images/icons/calendarweek-next10.gif"), works_path(:date => @jumping_links.[]("next10")), :remote => true
  .clear