= form_for @work do |f|
  -if @work.errors.any?
    #error_explanation
      %h2= "#{pluralize(@work.errors.count, "error")} prohibited this work from being saved:"
      %ul
        - @work.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :start
    = f.datetime_select :start
  .field
    = f.label :end
    = f.datetime_select :end
  .field
    = f.label :duration
    = f.text_field :duration
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :project
    = f.text_field :project
  .actions
    = f.submit 'Save'
