-if @work.errors.any?
  #error_explanation
    %h2= t('errors.template.header', :model=> Work.model_name.human, :count=> @work.errors.count)
    %ul
      - @work.errors.full_messages.each do |msg|
        %li= msg
#createTimeWrapper
  = form_for(@work, :remote => true) do |f|
    %dl
      %dt.time= f.label :started_at
      %dd.time= f.text_field :started_at, :size => 4
      %dt.time= f.label :ended_at
      %dd.time= f.text_field :ended_at, :size => 4
      %dd.description= f.text_area :description
      %dt.fees= f.label :fee
      %dd.fees= select_tag("work[fee]", options_for_select(@fees.map {|f| ["#{t :works_charge_with} #{number_to_currency(f, :unit => @currency)}", "#{f}"]}))
      %dt.submit
        = f.hidden_field :project_id, :value => @project_form_id
        = f.hidden_field :day, :value => @daySelected.strftime("%Y-%m-%d")
        = f.submit t('helpers.submit.submit', :model=> Work.model_name.human), :class => "submit"
#selectWrapper
  %dl
    %dt= Customer.model_name.human
    %dd= render :partial => "customerlist"
    %dt= Project.model_name.human
    %dd= render :partial => "projectlist"
.clear
