#top_form
  -if @work.errors.any?
    .errors
      %h3= t('errors.template.header', :model=> Work.model_name.human, :count=> @work.errors.count)
      %ul
        - @work.errors.full_messages.each do |msg|
          %li= msg
      .clear
  .layout
    = form_for(@work, :builder => TippedFormBuilder) do |f|
      %fieldset.project
        %ul
          %li.field.half.tipped
            = f.text_field :started_at, :value => @work.started_at.strftime('%H:%M'),:size => 4, :class => 'left'
            = f.text_field :ended_at, :value => @work.ended_at.strftime('%H:%M'), :size => 4, :class => 'right'
          %li.field.tipped
            = select_tag("work[fee]", options_for_select(@fees.map {|f| ["#{t :works_charge_with} #{number_to_currency(f, :unit => @currency)}", "#{f}"]}))
          %li.field.twoColumn.twoRow.tipped
            = f.label :description
            = f.text_area :description
          %li.field.tipped.templates
            = select_tag("work[text_template_id]", options_for_select(@work_titles.map {|t| [t.title, t.id]}))
          %li.field.twoColumn.tipped
            = select_tag("work[text_template_id]", options_for_select(@work_descriptions.map {|t| t.title}), {:onchange => "$('textarea#work_description').text(this.value);"})
      .buttons
        %ul
          %li.toggle &nbsp;
          %li.submit
            = f.hidden_field :project_id, :value => @project_form_id
            = f.hidden_field :day, :value => @daySelected.strftime("%Y-%m-%d")
            = f.submit t('helpers.submit.submit', :model=> Work.model_name.human), :class => "submit"
        .clear
    .right_column
      = form_tag new_project_path, :method => :get, :remote => false do
        %ul
          %li.field.tipped
            = render :partial => "customerlist"
      = form_tag new_project_path, :method => :get, :remote => false do
        %ul
          %li.field.tipped
            = render :partial => "projectlist"