-if @work.errors.any?
  #error_explanation
    %h2= t('errors.template.header', :model=> Work.model_name.human, :count=> @work.errors.count)
    %ul
      - @work.errors.full_messages.each do |msg|
        %li= msg
#createTimeWrapper
  = form_for(@work, :remote => true) do |f|
    %dl
      %dt.time= f.label :started_at
      %dd.time= f.text_field :started_at, :size => 4, :value => "08:00"
      %dt.time= f.label :ended_at
      %dd.time= f.text_field :ended_at, :size => 4, :value => "09:00"
      %dd.description= f.text_area :description
      %dt.fees= f.label :fee
      %dd.fees= select_tag("work[fee]", options_for_select(@fees.map {|f| ["#{t :works_charge_with} #{number_to_currency(f, :unit => @currency)}", "#{f}"]}))
      %dt.submit
        = f.hidden_field :project_id, :value => @project_form_id
        = f.hidden_field :day, :value => @daySelected.strftime("%Y-%m-%d")
        = f.submit t('helpers.submit.submit', :model=> Work.model_name.human), :class => "submit"
#selectWrapper
  %dl
    %dt= Customer.model_name.human
    %dd= render :partial => "customerlist"
    %dt= Project.model_name.human
    %dd= render :partial => "projectlist"
.clear

:javascript
  dojo.addOnLoad(function() {
      new dijit.form.TimeTextBox({
          name: "work[started_at]",
          value: new Date(),
          constraints: {
              timePattern: 'HH:mm',
              clickableIncrement: 'T00:15',
              visibleIncrement: 'T00:15',
              visibleRange: 'T02:00'
          }
      }, "work_started_at");
      new dijit.form.TimeTextBox({
          name: "work[ended_at]",
          value: new Date(),
          constraints: {
              timePattern: 'HH:mm',
              clickableIncrement: 'T00:15',
              visibleIncrement: 'T00:15',
              visibleRange: 'T02:00'
          }
      }, "work_ended_at");
  });
  $(document).ready(function () {
    $('form#new_work').submit(function() {
      startet_at = $("input[name='work[started_at]']");
      ended_at = $("input[name='work[ended_at]']");
      startet_at.val(startet_at.val().replace('T', ''));
      ended_at.val(ended_at.val().replace('T', ''));
    });
  });