-@works.each do |work|
  %ul{:class=>"record", :id=>"work#{work.id}"}
    %li.time
      = "#{work.started_at.strftime('%H:%M')} to #{work.ended_at.strftime('%H:%M')}"
      %br/
      = "â #{number_to_currency(work.fee, :unit => @currency)}"
    %li.duration= "#{work.duration} min."
    %li.project= link_to work.project.title, work.project
    %li.customer= link_to work.project.customer.name, work.project.customer
    %li.description= work.description
    %li.actions
      = link_to image_tag("/images/icons-nancy/delete.gif"), work_path(work, :date => work.started_at.strftime("%Y-%m-%d")), :method => :delete, :remote => false
    .clear
:javascript
  jQuery.each($("div#works ul"), function() { $(this).find('li').height($(this).height()); });