%h1 Listing works

%table
  %tr
    %th Start
    %th End
    %th Duration
    %th Description
    %th Project
    %th
    %th
    %th

  - @works.each do |work|
    %tr
      %td= work.start
      %td= work.end
      %td= work.duration
      %td= work.description
      %td= work.project
      %td= link_to 'Show', work
      %td= link_to 'Edit', edit_work_path(work)
      %td= link_to 'Destroy', work, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Work', new_work_path
