= params.inspect
#calendar
  = render :partial => "calendar"
#formWrapper
  = render :partial => "form"
.toolbar
  %ul
    %li.time= t(:works_time)
    %li.duration= Work.human_attribute_name('duration')
    %li.project= Project.model_name.human
    %li.customer= Customer.model_name.human
    %li.description= Work.human_attribute_name('description')
#works
  = render :partial => "worklist"
