%div{"data-role" => "header", "data-position"=>"fixed"}
	%h2 Calendarweek #{@daySelected.-(1).cweek}
	%div{"data-role" => "navbar"}
		%ul
			-5.times do
				%li= link_to @dayCalendar.strftime("%a. %d.%m."), works_path(:date => @dayCalendar.strftime("%Y-%m-%d")), :class => "#{'ui-btn-active' if @daySelected == @dayCalendar}"
				-@dayCalendar = @dayCalendar.+(1)

%div{"data-role" => "content"}
	-@works.each do |work|
		.ui-bar.ui-bar-c
			.ui-grid-a
				.ui-block-a
					= "#{work.start.strftime('%H:%M')} to #{work.end.strftime('%H:%M')}"
					%br/
					= "#{work.duration} min."
				.ui-block-b
					= link_to work.project.title, work.project
			%p= work.description
	-#				
		%ul{"data-role" => "listview"}
			-@works.each do |work|
				%li{"role"=>"option", "data-theme"=>"c"}
					.ui-btn-inner
						.ui-btn-text
							%p.ui-li-aside.ui-li-desc
								%strong 12:47 to 13:00
							%h3.ui-li-heading
								%a.ui-link-inherit{:href=>"index.html"}Amazon.com
							%p.ui-li-desc
								%strong 4-for-3 Books for Kids
							%p.ui-li-desc As someone who has purchased children's books from our 4-for-3 Store, you may be interested in these featured books.</p>