%p#notice= notice

%p
  %b Start:
  = @work.start
%p
  %b End:
  = @work.end
%p
  %b Duration:
  = @work.duration
%p
  %b Description:
  = @work.description
%p
  %b Project:
  = @work.project

= link_to 'Edit', edit_work_path(@work)
\|
= link_to 'Back', works_path
