%h2= Contact.model_name.human
%hr.clear/
%ul.toolbar
  %li.name= t(:customer_contact_name)
  %li.fon= t(:customer_contact_contact)
  %li.location= Location.model_name.human
  .clear
%ul.record
  %li.name= "#{@project.contact.salutation} #{@project.contact.title} #{@project.contact.firstname} #{@project.contact.lastname}"
  %li.fon
    -unless @project.contact.fon.empty?
      %span= "#{Contact.human_attribute_name('fon')}: #{@project.contact.fon}"
    -unless @project.contact.fax.empty?
      %span= "#{Contact.human_attribute_name('fax')}: #{@project.contact.fax}"
    -unless @project.contact.mobile.empty?
      %span= "#{Contact.human_attribute_name('mobile')}: #{@project.contact.mobile}"
  %li.location
    %a{:href => customer_location_path(@project.customer, @project.contact.location)}
      = @project.contact.location.name
      %br/
      = @project.contact.location.street
      %br/
      = "#{@project.contact.location.zip} #{@project.contact.location.city}"
  %li.actions.tipped
    = mail_to @project.contact.email, image_tag("/images/icons-nancy/mail.gif")
  .clear