%h2.formAction= t(:project_subscribed_users)
%span.formAction
  - if @users_subscribeable
    = form_for(ProjectsUsers.new, :url => subscribe_user_project_path) do |f|
      = select("projects_users", "user_id", @users_subscribeable.collect {|u| [ "#{u.firstname} #{u.lastname}", u.id ] }, {:include_blank => true}, {:onchange => "this.form.subscriberSubmit.click();"})
      = f.hidden_field :project_id, :value => @project.id
      %input.hide_nojs{:type=>"submit", :value=>"submit", :name => "subscriberSubmit"}
    = link_to image_tag("/images/icons-nancy/contact-create.gif"), @project
  - else
    = link_to image_tag("/images/icons-nancy/contact-create.gif"), subscribe_user_project_path
%hr.clear/
%ul.record
  - @project.users.each do |user|
    %li.name= "#{user.firstname} #{user.lastname}"
    %li.fon &nbsp;
    %li.location &nbsp;
    %li.actions
      = mail_to user.email, image_tag("/images/icons-nancy/mail.gif")
      = link_to image_tag("/images/icons-nancy/delete.gif"), unsubscribe_user_project_path(:project_id => @project.id, :user_id => user.id), :method => "delete"
    .clear