%h2 Add/Edit User
-if @user.errors.any?
	#error_explanation
		%h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
		%ul
			- @user.errors.full_messages.each do |msg|
				%li= msg
%dl
	%dt= f.label :firstname
	%dd= f.text_field :firstname
	%dt= f.label :lastname
	%dd= f.text_field :lastname
	%dt= f.label :email
	%dd= f.text_field :email
	%dt= f.label :holidays, "Holiday / Hours"
	%dd	
		= f.text_field :holidays, :class => "small"
		= f.text_field :hours, :class => "small"
	%dt= f.label :password, "New Password (leave blank)"
	%dd= f.password_field :password
	%dt= f.label :password_confirmation, "Password Confirmation"
	%dd= f.password_field :password_confirmation
	%dt.submit= f.submit "Save User", :class => "submit"
	.clear