.filter
  %ul
    %li.active= link_to "Manage Users", settings_user_admin_index_path
    %li= link_to "Managae Holidays", settings_days_path
    %li= link_to "Basic Configurations", settings_configurations_path
    .clear
#userForm
  - if @user.new_record?
    = form_for @user, :url => settings_user_admin_index_path do |f|
      - render :partial => "form", :locals => { :f => f }
  - else
    = form_for @user, :url => settings_user_admin_path(@user) do |f|
      - render :partial => "form", :locals => { :f => f }
  .clear

#users
  .toolbar
    %ul
      %li Name 
      %li Email
      %li Hours p.Day / Holidays
      %li Role
  - @users.each do |user|
    .user
      %ul.title
        %li= "#{user.firstname} #{user.lastname}"
        %li= mail_to user.email, user.email
        %li= "#{user.hours} / #{user.holidays}"
        %li= user.role.humanize
        %li.actions.tipped
          = link_to image_tag("/images/icons-nancy/edit.gif"), edit_settings_user_admin_path(user)
          = link_to image_tag("/images/icons-nancy/delete.gif"), settings_user_admin_path(user), :confirm => 'Are you sure?', :method => :delete
        .clear