.filter
	%ul
		%li.active= link_to "Manage Users", ""
		%li.active= link_to "Managae Holidays", ""
		%li.active= link_to "Manage Templates", ""
		.clear
.field
	#userForm
		%h2 Manage User
		- if @user.new_record?
			= form_for @user, :url => user_admin_index_path do |f|
				- render :partial => "user/form", :locals => { :f => f }
		- else
			= form_for @user, :url => user_admin_path(@user) do |f|
				- render :partial => "user/form", :locals => { :f => f }
		.clear

	#daySequenceForm
		%h2 Manage holidays, vacations and days of absence
		= form_for @day_sequence do |f|
			- render :partial => "day_sequences/form", :locals => { :f => f }
		.clear
	.clear

	%ul.fieldbar
		%li Name / E-mail
		%li.small Hldy.
		%li.small Hrs.
		%li.small Actions
		.clear
	.records
		- @users.each do |user|
			%ul.record
				%li
					= "#{user.firstname} #{user.lastname}"
					= user.email
				%li.small= user.holidays
				%li.small= user.hours
				%li.actions
					= link_to "E", edit_user_admin_path(user)
					= link_to "D", user_admin_path(user), :confirm => 'Are you sure?', :method => :delete
				.clear
.clear