.customerWrapper
  %p
    Dear User,
    %br/
    %nr/
    one step left before you can Use Nancy as ypur personal Time- and Projectmanagerin.
    %br/
    Just enter your Company details ine the following fields:
  -if @customer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@customer.errors.count, "error")} prohibited this customer from being saved:"
      %ul
        - @customer.errors.full_messages.each do |msg|
          %li= msg
  #createCustomer
    = form_for(@form_customer) do |f|
      %fieldset
      %legend Your Company Name
      %dl
        %dt= f.label :name
        %dd= f.text_field :name
        %dt= f.label :website
        %dd= f.text_field :website
      = f.fields_for :locations, @form_customer.locations.first do |l|
        %fieldset
          %legend Company Address
          %dl
            %dt= l.label :name
            %dd= l.text_field :name
            %dt= l.label :street
            %dd= l.text_field :street
            %dt= l.label :zip, "Zip / City"
            %dd
              = l.text_field :zip, :class => 'zip'
              = l.text_field :city, :class => 'city'
            %dt= l.label :fon
            %dd= l.text_field :fon
            %dt= l.label :fax
            %dd= l.text_field :fax
            = l.hidden_field :name, :value => "."
        = l.fields_for :contacts, @form_customer.locations.first.contacts.first do |c|
          %fieldset{:style => "display: none"}
            %legend Contact
            %dl
              %dt= c.label :title
              %dd
                = c.select(:salutation, options_for_select(["Mr.", "Ms."]))
                = c.text_field :title, :class => "title"
              %dt= c.label :firstname
              %dd= c.text_field :firstname, :value => current_user.firstname
              %dt= c.label :lastname
              %dd= c.text_field :lastname, :value => current_user.lastname
              %dt= c.label :department
              %dd= c.text_field :department
              %dt= c.label :email
              %dd= c.text_field :email, :value => current_user.email
              %dt= c.label :fon
              %dd= c.text_field :fon
              %dt= c.label :fax
              %dd= c.text_field :fax
              %dt= c.label :mobile
              %dd= c.text_field :mobile
      = f.hidden_field :shortname, :value => "."
      = f.submit 'Save', :class => "submit"