#top_form{:style => "display: #{'none' unless @show_customer_form}"}
  = form_for(@customer, :builder => TippedFormBuilder) do |f|
    .title
      %h3= t(:customer_form_create)
    -if @customer.errors.any?
      .errors
        %h3= t('errors.template.header', :model=> Customer.model_name.human, :count=> @customer.errors.count)
        %ul
          - @customer.errors.full_messages.each do |msg|
            %li= msg
        .clear
    %fieldset
      %legend= t(:customer_form_customer)
      %ul
        %li.field.tipped
          = f.label :shortname
          = f.text_field :shortname
        %li.field.tipped
          = f.label :name
          = f.text_field :name
        %li.field.tipped
          = f.label :website
          = f.text_field :website
    = f.fields_for :locations, @customer.locations.first do |l|
      %fieldset
        %legend= t(:customer_form_location)
        %ul
          %li.field.half.tipped
            = l.label :name, :class => 'left'
            =l.text_field :name, :class => 'left'
            = l.label :street, :class => 'right'
            = l.text_field :street, :class => 'right'
          %li.field.third.tipped
            = l.label :zip
            = l.text_field :zip, :class => 'left'
            = l.label :city, :class => 'right'
            = l.text_field :city, :class => 'right'
          %li.field.half.tipped
            = l.label :fon, :class => 'left'
            = l.text_field :fon, :class => 'left'
            = l.label :fax, :class => 'right'
            = l.text_field :fax, :class => 'right'
      = l.fields_for :contacts, @customer.locations.first.contacts.first do |c|
        %fieldset
          %legend= t(:customer_form_contact)
          %ul
            %li.field.third.tipped
              = c.select(:salutation, options_for_select(["Mr.", "Ms."]))
              = c.label :title, :class => 'right'
              = c.text_field :title, :class => "right"
            %li.field.half.tipped
              = c.label :firstname, :class => 'left'
              = c.text_field :firstname, :class => 'left'
              = c.label :lastname, :class => 'right'
              = c.text_field :lastname, :class => 'right'
            %li.field.tipped
              = c.label :department
              = c.text_field :department
            %li.field.half.tipped
              = c.label :fon, :class => 'left'
              = c.text_field :fon, :class => 'left'
              = c.label :mobile, :class => 'right'
              = c.text_field :mobile, :class => 'right'
            %li.field.tipped
              = c.label :email
              = c.text_field :email
    .buttons
      %ul
        %li.toggle
          -if @show_customer_form
            = link_to t(:customer_form_close), customers_path, :class => 'inactive'
          - else
            &nbsp;
        %li.submit
          -if @show_customer_form
            = f.submit t('helpers.submit.submit', :model=> Customer.model_name.human), :class => "submit"
          -else
            = link_to t(:customer_form_create), new_customer_path, :class => 'active'
      .clear