- @customers.each do |customer|
  .customer
    %ul.title{:id => "#{'active' if customer.id == @customer.id}"}
      %li= customer.name
      %li= customer.shortname
      %li= customer.locations.count
      %li.actions.tipped
        - if customer.id == @customer.id
          = link_to image_tag("/images/icons-nancy/container-close.gif"), customers_path(:order => params[:order])
        - else
          = link_to image_tag("/images/icons-nancy/container-open.gif"), customer_path(customer, :order => params[:order])
        = link_to image_tag("/images/icons-nancy/edit.gif"), edit_customer_path(customer, :order => params[:order]) if can? :manage, Customer
        = link_to image_tag("/images/icons-nancy/delete.gif"), customer_path(customer, :order => params[:order]), :confirm => 'Are you sure?', :method => :delete if can? :manage, Customer
      .clear
    - if customer.id == @customer.id
      #resources
        .location
          - if !@show_location_form
            = render :partial => 'customers/location/show' 
          - else
            = render :partial => 'customers/location/form'
        - if !@location.new_record?
          .contacts
            - if @show_contact_form
              = render :partial => 'customers/contacts/form'
            - else @show_contact_form
              = render :partial => 'customers/contacts/list'
        .clear