.toolbar
  %ul
    %li Name
    %li Shortname
    %li Locations
-@customers.each do |customer|
  .customer
    - if customer.id == @customer.id && "#{params[:controller]}/#{params[:action]}" != 'customers/edit' 
      %ul.titleActive
        %li= customer.name
        %li= customer.shortname
        %li= customer.locations.count
        %li.actions
          = link_to 'C', customers_path
          = link_to 'E', edit_customer_path(customer)
          = link_to 'D', customer, :confirm => 'Are you sure?', :method => :delete
        .clear
      .nestedRessources
        = render :partial => 'customers/details/locations'
        = render :partial => 'customers/details/contacts'
        .clear
    - else
      %ul.titleInactive
        %li= customer.name
        %li= customer.shortname
        %li= customer.locations.count
        %li.actions
          = link_to 'O', customer
          = link_to 'E', edit_customer_path(customer)
          = link_to 'D', customer, :confirm => 'Are you sure?', :method => :delete
        .clear
      .clear
