= render 'customers/form' if can? :manage, Customer, Location, Contact
.filter
  %ul
    %li= link_to t(:customer_form_create), new_customer_path
    .clear
.toolbar
  %ul
    %li
      = Customer.human_attribute_name('name') 
      = link_to image_tag("/images/icons-nancy/order-up.gif"), customers_path(:order => "name asc")
      = link_to image_tag("/images/icons-nancy/order-down.gif"), customers_path(:order => "name desc")
    %li
      = Customer.human_attribute_name('shortname')
      = link_to image_tag("/images/icons-nancy/order-up.gif"), customers_path(:order => "shortname asc")
      = link_to image_tag("/images/icons-nancy/order-down.gif"), customers_path(:order => "shortname desc")
    %li= Location.model_name.human
= render 'customers/list'