%p#notice= notice

%p
  %b Name:
  = @customer.name
%p
  %b Shortname:
  = @customer.shortname
%p
  %b Website:
  = @customer.website

= link_to 'Edit', edit_customer_path(@customer)
\|
= link_to 'Back', customers_path
