%div{"data-role" => "header"}
  %h1= @customer.name

-@locations.each do |location|
  %div{"data-role" => "collapsible", "data-collapsed" => "true"}
    %h3= location.name
    %h4 Address
    = location.name
    %br/
    = location.street
    %br/
    = location.zip
    = location.city
    %br/
    Fon:
    = location.fon
    %br/
    Fax:
    = location.fax
      
    %h4 Contacts
    %dl
      -location.contacts.each do |contact|
        %dt
          = contact.salutation
          = contact.title
          = contact.firstname
          = contact.lastname
        %dd
          = "Department: #{contact.department}"
        %dd
          E-Mail:
          = mail_to contact.email, contact.email
        %dd
          Fon:
          = link_to contact.fon, "tel:#{contact.fon}"
        %dd
          Fax:
          = link_to contact.fax, "tel:#{contact.fax}"
        %dd
          Mobile:
          = link_to contact.mobile, "tel:#{contact.mobile}"
        %dd &nbsp;