= form_for @contact do |f|
  -if @contact.errors.any?
    #error_explanation
      %h2= "#{pluralize(@contact.errors.count, "error")} prohibited this contact from being saved:"
      %ul
        - @contact.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :salutation
    = f.text_field :salutation
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :firstname
    = f.text_field :firstname
  .field
    = f.label :lastname
    = f.text_field :lastname
  .field
    = f.label :department
    = f.text_field :department
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :fon
    = f.text_field :fon
  .field
    = f.label :mobile
    = f.text_field :mobile
  .field
    = f.label :fax
    = f.text_field :fax
  .field
    = f.label :location
    = select("contact", "location_id", Location.all.collect {|l| [ l.name, l.id ] })
  .actions
    = f.submit 'Save'
