%h1 Listing contacts

%table
  %tr
    %th Salutation
    %th Title
    %th Firstname
    %th Lastname
    %th Department
    %th Email
    %th Fon
    %th Mobile
    %th Fax
    %th Location
    %th
    %th
    %th

  - @contacts.each do |contact|
    %tr
      %td= contact.salutation
      %td= contact.title
      %td= contact.firstname
      %td= contact.lastname
      %td= contact.department
      %td= contact.email
      %td= contact.fon
      %td= contact.mobile
      %td= contact.fax
      %td= contact.location.name
      %td= link_to 'Show', contact
      %td= link_to 'Edit', edit_contact_path(contact)
      %td= link_to 'Destroy', contact, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Contact', new_contact_path
