= form_for([@customer, @location]) do |f|
  -if @location.errors.any?
    #error_explanation
      %h2= "#{pluralize(@location.errors.count, "error")} prohibited this contact from being saved:"
      %ul
        = @location.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    %legend= t('helpers.form', :model=> Location.model_name.human)
    = link_to image_tag("/images/icons-nancy/container-close.gif"), :back
    %hr.clear/
    %dl
      %dt= f.label :name
      %dd= f.text_field :name
      %dt= f.label :street
      %dd= f.text_field :street
      %dt= f.label :zip
      %dd
        = f.text_field :zip, :class => 'zip'
        = f.text_field :city, :class => 'city'
      %dt= f.label :fon
      %dd= f.text_field :fon
      %dt= f.label :fax
      %dd= f.text_field :fax
      %dt.submit= f.submit t('helpers.submit.submit', :model=> Location.model_name.human), :class => "submit"
  = f.hidden_field :customer_id, :value => @customer.id