.location
  .details{:style => "display: #{@displayLocationRecord || 'block'};"}
    %h2
      = Location.model_name.human 
      -if (@locations.index(@location) + 1) > 1
        = link_to image_tag("/images/icons-nancy/previous.gif"), customer_location_path(@customer, @locations.at(@locations.index(@location) -1), :order => params[:order])
      = "#{@locations.index(@location) + 1} #{t(:customer_of)} #{@locations.count}"
      -if (@locations.index(@location) + 1) < @locations.count
        = link_to image_tag("/images/icons-nancy/next.gif"), customer_location_path(@customer, @locations.at(@locations.index(@location) +1), :order => params[:order])
    %span.actions
      = link_to image_tag("/images/icons-nancy/location-create.gif"), new_customer_location_path(@customer, :order => params[:order]) if can? :manage, Location
      = link_to image_tag("/images/icons-nancy/edit.gif"), edit_customer_location_path(@customer, @location, :order => params[:order]) if can? :manage, Location
      = link_to image_tag("/images/icons-nancy/delete.gif"), customer_location_path(@customer, @location, :order => params[:order]), :confirm => 'Are you sure?', :method => :delete if can? :manage, Location
    %hr.clear/
    %ul.record
      %li= @location.name
      %li
        = @location.street
        %br/
        = "#{@location.zip} #{@location.city}"
      %li
        = "#{Location.human_attribute_name('fon')}: #{@location.fon}"
        %br/
        = "#{Location.human_attribute_name('fax')}: #{@location.fax}"
      .clear
  = render :partial => 'customers/locations/form' if can? :manage, Location
