= form_for @project do |f|
  -if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :discount
    = f.text_field :discount
  .field
    = f.label :budget
    = f.text_field :budget
  .field
    = f.label :type
    = f.text_field :type
  .field
    = f.label :closed
    = f.check_box :closed
  .field
    = f.label :customer
    = f.text_field :customer
  .field
    = f.label :contact
    = f.text_field :contact
  .actions
    = f.submit 'Save'
