.wizard
	%a{:class => 'wizardFormSwitch'}New Project [open/close]
	-if @project.errors.any?
		#error_explanation
			%h2= "#{pluralize(@customer.errors.count, "error")} prohibited this contact from being saved:"
			%ul
			- @project.errors.full_messages.each do |msg|
				%li= msg
	%hr/
	= form_for(@form_project, :html => {:style => "display: #{@displayProjectForm};"}) do |f|
		%fieldset
			%legend Project information
			%dl
				%dt= f.label :title
				%dd= f.text_field :title
				%dt= f.label :description
				%dd= f.text_area :description
				%dt= f.label :discount
				%dd= f.text_field :discount
				%dt= f.label :budget
				%dd= f.text_field :budget
		%fieldset
			%legend Customer
			%dl
		= f.submit 'Save'