#projectForm.wizard
	%a{:class => 'wizardFormSwitch'}New Project [open/close]
	-if @project.errors.any?
		#error_explanation
			%h2= "#{pluralize(@customer.errors.count, "error")} prohibited this contact from being saved:"
			%ul
			- @project.errors.full_messages.each do |msg|
				%li= msg
	%hr/
	= form_for(@form_project, :html => {:style => "display: #{@displayProjectForm};"}) do |f|
		%fieldset.project
			%legend Project information
			%dl
				%dt.title= f.label :title
				%dd.title= f.text_field :title
				%dt.description= f.label :description
				%dd.description= f.text_area :description
				%dt.small= f.label :discount
				%dd.small= f.text_field :discount
				%dt.small= f.label :budget
				%dd.small= f.text_field :budget
				.clear
		%fieldset.customer
			%dl
				%dt Customer
				%dd
					= select("project", "customer_id", Customer.all.collect {|s| [ s.name, s.id ] })
				%dt Location
				%dd
					%select
				%dt Main Contact
				%dd
					= select("project", "contact_id", Contact.all.collect {|s| [ s.firstname+" "+s.lastname, s.id ] })
				.clear
		%hr.clear/
		= f.submit 'Save'