- @projects.each do |project|
  .project
    %ul.title{:id => "#{'active' if project.id == @project.id}"}
      %li.nr= project.id
      %li= project.title
      %li= project.customer.name
      %li.date= l(project.created_at, :format => :date)
      %li.actions.tipped
        = image_tag("/images/icons-nancy/invoice-flag.gif", 'data-tipped' => 'hello world') unless project.invoices.find_by_closed(0).nil?
        - if project.id == @project.id
          = link_to image_tag("/images/icons-nancy/container-close.gif"), projects_path(:order => params[:order], :closed => params[:closed])
        - else
          = link_to image_tag("/images/icons-nancy/container-open.gif"), project_path(project, :order => params[:order], :closed => params[:closed])
        = link_to image_tag("/images/icons-nancy/edit.gif"), edit_project_path(project, :order => params[:order], :closed => params[:closed]) if can? :manage, Project
        = link_to image_tag("/images/icons-nancy/delete.gif"), project_path(project, :order => params[:order], :closed => params[:closed]), :confirm => 'Are you sure?', :method => :delete if can? :manage, Project
      .clear
    - if project.id == @project.id
      #resources
        = render :partial => 'projects/detail'
        .contacts
          = render :partial => 'projects/contacts/contacts'
          = render :partial => 'projects/contacts/users'
        .expenses
          - if !@show_expense_form
            = render :partial => 'projects/expenses/list' 
          - else
            = render :partial => 'projects/expenses/form'
        .invoices
          - if !@show_invoice_form
            = render :partial => 'projects/invoices/list' 
          - else
            = render :partial => 'projects/invoices/form'
        .status_messages
          - if !@show_status_message_form
            = render :partial => 'projects/status_messages/list'
          - else
            = render :partial => 'projects/status_messages/form'
      .clear