.toolbar
	%ul
		%li.nr
			Nr. 
			= link_to image_tag("/images/icons/order-up.gif"), projects_path(:order => "id asc")
			= link_to image_tag("/images/icons/order-down.gif"), projects_path(:order => "id desc")
		%li
			Title
			= link_to image_tag("/images/icons/order-up.gif"), projects_path(:order => "title asc")
			= link_to image_tag("/images/icons/order-down.gif"), projects_path(:order => "title desc")
		%li
			Customer
			= link_to image_tag("/images/icons/order-up.gif"), projects_path(:order => "customer asc")
			= link_to image_tag("/images/icons/order-down.gif"), projects_path(:order => "customer desc")
		%li.date
			Created at
			= link_to image_tag("/images/icons/order-up.gif"), projects_path(:order => "created_at asc")
			= link_to image_tag("/images/icons/order-down.gif"), projects_path(:order => "created_at desc")
-@projects.each do |project|
	.project
		- if project.id == @project.id && "#{params[:controller]}/#{params[:action]}" != 'projects/edit' 
			%ul.title#active
				%li.nr= project.id
				%li= project.title
				%li= project.customer.name
				%li.date= project.created_at.strftime("%Y-%m-%d")
				%li.actions
					= link_to image_tag("/images/icons/container-close.gif"), projects_path(:order => params[:order])
					= link_to image_tag("/images/icons/edit.gif"), edit_project_path(project, :order => params[:order])
					= link_to image_tag("/images/icons/delete.gif"), project_path(project, :order => params[:order]), :confirm => 'Are you sure?', :method => :delete
				.clear
			.content
				.main
					%h2 Project information
					%span.actions
						-if project.closed
							= link_to image_tag("/images/icons/project-open.gif"), switch_project_path(project, :order => params[:order])
						-else
							= link_to image_tag("/images/icons/project-close.gif"), switch_project_path(project, :order => params[:order])
					%hr.clear/
					%dl
						%dt.description Description:
						%dd.description= project.description
						%dt Budget:
						%dd= "#{project.budget} (h)"
						%dt Discount:
						%dd= "#{project.discount} %"
						%dt Type:
						%dd= project.type
						.clear
				.contacts
					= render :partial => 'projects/details/contacts'
			.clear
		- else
			%ul.title
				%li.nr= project.id
				%li= project.title
				%li= project.customer.name
				%li.date= project.created_at.strftime("%Y-%m-%d")
				%li.actions
					= link_to image_tag("/images/icons/container-open.gif"), project_path(project, :order => params[:order])
					= link_to image_tag("/images/icons/edit.gif"), edit_project_path(project, :order => params[:order])
					= link_to image_tag("/images/icons/delete.gif"), project_path(project, :order => params[:order]), :confirm => 'Are you sure?', :method => :delete
				.clear