- @projects.each do |project|
  .project
    %ul.title{:id => "#{'active' if project.id == @project.id}"}
      %li.nr= project.id
      %li= project.title
      %li= project.customer.name
      %li.date= l(project.created_at, :format => :date)
      %li.actions
        - if project.id == @project.id
          = link_to image_tag("/images/icons-nancy/container-close.gif"), projects_path(:order => params[:order], :closed => params[:closed])
        - else
          = link_to image_tag("/images/icons-nancy/container-open.gif"), project_path(project, :order => params[:order], :closed => params[:closed])
        = link_to image_tag("/images/icons-nancy/edit.gif"), edit_project_path(project, :order => params[:order], :closed => params[:closed]) if can? :manage, Project
        = link_to image_tag("/images/icons-nancy/delete.gif"), project_path(project, :order => params[:order], :closed => params[:closed]), :confirm => 'Are you sure?', :method => :delete if can? :manage, Project
      .clear
    - if project.id == @project.id
      .nestedRessources
        .projectInformation
          %h2= t(:project_information)
          %span.actions
            = link_to image_tag("/images/icons-nancy/project-report.gif"), report_project_path(project)
            = link_to image_tag("/images/icons-nancy/project-pdf.gif"), report_project_path(project)+".pdf"
            -if project.closed == 0
              = link_to image_tag("/images/icons-nancy/project-open.gif"), switch_project_path(project, :order => params[:order], :closed => params[:closed]) if can? :manage, Project
            -else
              = link_to image_tag("/images/icons-nancy/project-close.gif"), switch_project_path(project, :order => params[:order], :closed => params[:closed]) if can? :manage, Project
          %hr.clear/
          %dl
            %dt.description= Project.human_attribute_name('description')
            %dd.description= project.description
            %dt= Project.human_attribute_name('budget')
            %dd= "#{project.budget} (h)"
            %dt= Project.human_attribute_name('discount')
            %dd= "#{project.discount} %"
            .clear
        .contacts
          = render :partial => 'projects/details/contacts'
          = render :partial => 'projects/details/users'
      .clear