!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en"}
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %title Nancy / #{controller.controller_name}
    = stylesheet_link_tag("compiled/screen.css")
    = stylesheet_link_tag("compiled/#{controller.controller_name}") if File.exist?("tmp/stylesheets/compiled/#{controller.controller_name}.css")
    = javascript_include_tag :defaults
    = stylesheet_link_tag :all
    = csrf_meta_tag
  %body{:id => "report"}
    #content.container
      %p.sender= Configuration.find_by_key('sender').value
      %adress
        =@project.contact.location.name
        %br/
        = "#{@project.contact.firstname} #{@project.contact.lastname}"
        %br/
        =@project.contact.location.street
        %br/
        %br/
        = "#{@project.contact.location.zip} #{@project.contact.location.city}"

      %h1 Project Report: #{@project.id}
      %h2=@project.title
      %p
        %strong Auf das Projekt gebuchte Zeiten
      %hr/
      #works
        -@works.each do |work|
          %ul{:class=>"record", :id=>"work#{work.id}"}
            %li.time
              = work.started_at.strftime('%Y-%m-%d')
              %br/
              = work.user
            %li.description= work.description
            %li.duration #{work.duration.to_f / 60} hours
            %li.sum= number_to_currency((work.duration.to_f / 60 * work.fee), :unit => @currency)
            .clear
      #expenses
        %p
          %strong Auf das Projekt gebuchte Auslagen
        -@expenses.each do |expense|
          %ul{:class=>"record", :id=>"expense#{expense.id}"}
            %li.time
              = expense.created_at.strftime('%Y-%m-%d')
              %br/
              = expense.user
            %li.description= expense.description
            %li.sum= number_to_currency(expense.amount, :unit => @currency)
            .clear
      %dl.sum
        %dt.duration Duration:
        %dd.duration #{@project.work_hour_sum} hours
        %dd.duration #{number_to_currency(@project.work_net_sum, :unit => @currency)}
        -if @project.discount > 0
          %dt.discount Discount (#{@project.discount}%):
          %dd.discount #{number_to_currency(@project.work_discount_sum, :unit => @currency)}
        -unless @expenses.empty?
          %dt.expenses Expenses:
          %dd.expenses #{number_to_currency(@project.expense_sum, :unit => @currency)}
        .clear
      %dl.sum
        %dt.net Sum net:
        %dd.net #{number_to_currency(@project.full_net_sum, :unit => @currency)}
        %dt.tax Add #{@project.tax}% tax:
        %dd.tax #{number_to_currency(@project.tax_sum, :unit => @currency)}
        .clear
      %dl.sum.final
        %dt.final Final Tax Sum:
        %dd.final #{number_to_currency(@project.full_tax_sum, :unit => @currency)}
        .clear
      