!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en"}
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %title Nancy / #{controller.controller_name}
    = wicked_pdf_stylesheet_link_tag "../../tmp/stylesheets/compiled/projects"
    = csrf_meta_tag
  %body{:id => "report"}
    #content.container
      %p.sender= Configuration.find_by_key('sender').value
      %adress
        =@project.contact.location.name
        %br/
        = "#{@project.contact.firstname} #{@project.contact.lastname}"
        %br/
        =@project.contact.location.street
        %br/
        %br/
        = "#{@project.contact.location.zip} #{@project.contact.location.city}"

      %h1 Project Report: #{@project.id}
      %h2=@project.title
      %hr/
      %div#works
        %table.work
          -@project.works.order("started_at ASC").each do |work|
            %tr
              %td.time
                = work.started_at.strftime('%Y-%m-%d')
                %br/
                = "#{User.find(work.user_id).firstname} #{User.find(work.user_id).lastname}"
              %td.description{"valign" => "top"}= work.description
              %td.duration #{work.duration.to_f / 60} hours
              %td.sum= number_to_currency((work.duration.to_f / 60 * work.fee), :unit => Configuration.find_by_key('currency').value)
        %table#sum
          %tr
            %td.duration Duration:
            %td.sum #{@project.work_sum} hours
            %td.sum #{number_to_currency(@project.net_sum, :unit => @currency)}
          %tr
            %td.title.discount{"colspan" => 2} Discount (#{@project.discount}%):
            %td.sum.discount #{number_to_currency(@project.discount_sum, :unit => @currency)}
          %tr
            %td.title.net{"colspan" => 2} Sum net:
            %td.sum.net #{number_to_currency(@project.full_net_sum, :unit => @currency)}
          %tr
            %td.title.tax{"colspan" => 2} Add #{@project.tax}% tax:
            %td.sum.tax #{number_to_currency(@project.tax_sum, :unit => @currency)}
          %tr
            %td.title.final{"colspan" => 2} Final Tax Sum:
            %td.sum.final #{number_to_currency(@project.full_tax_sum, :unit => @currency)}