%div{"data-role" => "header"}
  %h1= @project.title
%div{"data-role" => "content"}
  %p=@project.description
  %div{"data-role" => "collapsible", "data-collapsed" => "true"}
    %h3 Customer information
    %h4 Address
    = @project.contact.location.name
    %br/
    = @project.contact.location.street
    %br/
    = @project.contact.location.zip
    = @project.contact.location.city
    
    %h4 Contacts
    %dl
      %dt
        = @project.contact.salutation
        = @project.contact.title
        = @project.contact.firstname
        = @project.contact.lastname
      %dd
        = "Department: #{@project.contact.department}"
      %dd
        E-Mail:
        = mail_to @project.contact.email, @project.contact.email
      %dd
        Fon:
        = link_to @project.contact.fon, "tel:#{@project.contact.fon}"
      %dd
        Fax:
        = link_to @project.contact.fax, "tel:#{@project.contact.fax}"
      %dd
        Mobile:
        = link_to @project.contact.mobile, "tel:#{@project.contact.mobile}"
      %dd &nbsp;