= form_for([@customer, @location, @contact], :html => {:style => "display: #{@show_contact_form ? 'block' : 'none'};"}) do |f|
  %fieldset
    %legend= t('helpers.form', :model=> Contact.model_name.human)
    -if @contact.errors.any?
      .errors
        %h3= t('errors.template.header', :model=> Contact.model_name.human, :count=> @contact.errors.count)
        %ul
          - @contact.errors.full_messages.each do |msg|
            %li= msg
        .clear
    %ul
      %li.field.third
        = f.select(:salutation, options_for_select(["Mr.", "Ms."]))
        = f.label :title, :class => 'right'
        = f.text_field :title, :class => "right"
      %li.field.half
        = f.label :firstname, :class => 'left'
        = f.text_field :firstname, :class => 'left'
        = f.label :lastname, :class => 'right'
        = f.text_field :lastname, :class => 'right'
      %li.field
        = f.label :department
        = f.text_field :department
      %li.field.half
        = f.label :fon, :class => 'left'
        = f.text_field :fon, :class => 'left'
        = f.label :mobile, :class => 'right'
        = f.text_field :mobile, :class => 'right'
      %li.field
        = f.label :email
        = f.text_field :email
  .buttons
    %ul
      %li.toggle= link_to 'Abbrechen', [@customer, @location]
      %li.submit
        = f.hidden_field :location_id, :value => @location.id
        = f.submit t('helpers.submit.submit', :model=> Contact.model_name.human), :class => "submit"
    .clear