%h2= Expense.model_name.human
%span.actions= link_to image_tag("/images/icons-nancy/project-report.gif"), new_project_expense_path(@project)
%hr.clear/
.details
  %ul.toolbar
    %li.from #{Expense.human_attribute_name('created_at')} / #{User.model_name.human}
    %li.description= Expense.human_attribute_name('description')
    %li.amount= Expense.human_attribute_name('amount')
    .clear
  - @project.expenses.each do |expense|
    %ul.record
      %li.from am #{expense.created_at}
      %li.description= expense.description
      %li.amount= expense.amount
      %li.actions
        = link_to image_tag("/images/icons-nancy/edit.gif"), edit_project_expense_path(@project.id, expense.id)
        = link_to image_tag("/images/icons-nancy/delete.gif"), project_expense_path(@project.id, expense.id), :method => "delete"
      .clear