= form_for @location do |f|
  -if @location.errors.any?
    #error_explanation
      %h2= "#{pluralize(@location.errors.count, "error")} prohibited this location from being saved:"
      %ul
        - @location.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :street
    = f.text_field :street
  .field
    = f.label :zip
    = f.text_field :zip
  .field
    = f.label :city
    = f.text_field :city
  .field
    = f.label :fon
    = f.text_field :fon
  .field
    = f.label :fax
    = f.text_field :fax
  .field
    = f.label :customer_id
    = select("location", "customer_id", Customer.all.collect {|c| [ c.name, c.id ] })
  .actions
    = f.submit 'Save'