%h1 Listing locations

%table
  %tr
    %th Name
    %th Street
    %th Zip
    %th City
    %th Fon
    %th Fax
    %th Customer
    %th
    %th
    %th

  - @locations.each do |location|
    %tr
      %td= location.name
      %td= location.street
      %td= location.zip
      %td= location.city
      %td= location.fon
      %td= location.fax
      %td= location.customer.name
      %td= link_to 'Show', location
      %td= link_to 'Edit', edit_location_path(location)
      %td= link_to 'Destroy', location, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Location', new_location_path
