= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  %h2 Edit #{resource_name.to_s.humanize}
  = devise_error_messages!
  %dl
    %dt= f.label :firstname
    %dd= f.email_field :firstname
    %dt= f.label :lastname
    %dd= f.email_field :lastname
    %dt= f.label :email
    %dd= f.email_field :email
    %dt= f.label :password, "New Password"
    %dd= f.password_field :password
    %dt= f.label :password_confirmation, "Confirmation"
    %dd= f.password_field :password_confirmation
    .clear
    %dt.current_password= f.label :current_password
    %dd.current_password
      = f.password_field :current_password
      (to confirm your identity)
    %dt &nbsp;
    %dd= f.submit "Update", :class => "submit"